<section class="bg-light page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase texts text-start">Contáctanos</h2>
      <h2 class="encabezado section-heading text-uppercase texts text-start">Seguro puedes contar con nosotros...</h2>
      <hr style="color: black">
    </div>
  </div>

  <div class="content">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-11">

          <div class="row justify-content-center">
            <div class="col-md-6 text-black">

              <span class="text-morado encabezado">Visítanos en:</span> <br>
              <span class="text-black ">Constitución No. 1061-1, Col. Jorge Almada. <br>
                C.P. 80200. Culiacán, Sinaloa, México.</span>

              <br>
              <br>
              <span class="text-morado encabezado">Háblanos al:</span> <br>
              <span class="text-black ">Tel: +52 (667) 715 2840</span>

              <br>
              <br>

              <span class="text-morado encabezado">Escríbenos a:</span> <br>
              <span class="text-black ">ventas&#64;informaticaelectoral.com</span>

            </div>
            <div class="col-md-6">
              <span class="text-morado encabezado">Mándanos un mensaje</span>

              <form class="mb-5" method="post" id="contactForm" name="contactForm">
                <div class="row ">
                  <div class="col-md-12 mt-2 form-group ">
                    <input type="text" class="form-control forms" name="name" id="name" placeholder="Nombre">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control forms" name="email" id="email" placeholder="Mail">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control forms" name="message" id="message" cols="30" rows="7"
                              placeholder="Mensaje"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-end">
                    <input type="submit" value="Enviar" class="btn enviar text-white rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boxmapa mt-2">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.09390963032!2d-107.40776812003271!3d24.79872340854698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86bcd0b0c0000001%3A0x7751ec741796414!2sInform%C3%A1tica%20Electoral!5e0!3m2!1ses!2smx!4v1729706880064!5m2!1ses!2smx"
        width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

</section>
