<section class="bg-light page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase texts text-start">Contáctanos</h2>
      <h2 class="encabezado section-heading text-uppercase texts text-start">Seguro puedes contar con nosotros...</h2>
      <hr style="color: black">
    </div>
  </div>

  <div class="content">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">

          <div class="row justify-content-center">
            <div class="col-md-6 text-black">

              <span class="text-morado encabezado">Visítanos en:</span> <br>
              <span class="text-black ">Constitución No. 1061-1, Col. Jorge Almada. <br>
                C.P. 80200. Culiacán, Sinaloa, México.</span>

              <br>
              <br>
              <span class="text-morado encabezado">Háblanos al:</span> <br>
              <span class="text-black ">Tel: +52 (667) 715 2840</span>

              <br>
              <br>

              <span class="text-morado encabezado">Escríbenos a:</span> <br>
              <span class="text-black ">ventas&#64;informaticaelectoral.com</span>

            </div>
            <div class="col-md-6">
              <span class="text-morado encabezado">Mándanos un mensaje</span>

              <form class="mb-5" method="post" id="contactForm" name="contactForm">
                <div class="row ">
                  <div class="col-md-12 form-group ">
                    <input type="text" class="form-control forms" name="name" id="name" placeholder="Nombre">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control forms" name="email" id="email" placeholder="Mail">
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control forms" name="message" id="message" cols="30" rows="7"
                              placeholder="Mensaje"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-end">
                    <input type="submit" value="Enviar" class="btn enviar text-white rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div>
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
