<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase texts text-start">Beneficios</h2>
      <hr style="color: black">
      <h3 class="section-subheading text-muted"></h3>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center flex-grid">
        <div class="col-md-5 mb-4 cursor-pointer" *ngFor="let card of cardsData; let i = index" (click)="toggleCard(i)">
          <div class="card custom-card content" [class.active]="activeCardIndex === i">
            <img class="card-img-top" [src]="card.imgSrc" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="activeCardIndex !== null" class="overlay text-black pl-6 " (click)="closeCard()">

      <div class="expanded-card" (click)="$event.stopPropagation()">
        <h5 >{{ cardsData[activeCardIndex!].title }}</h5>
        <span class="pt-5" >{{ cardsData[activeCardIndex!].text }}</span>
      </div>
    </div>
  </div>
</section>
