<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase texts text-start">Casos de éxito</h2>
      <hr style="color: black">
      <h3 class="section-subheading text-muted"></h3>
    </div>
    <ul class="timeline w-80" [class.shift]="isModalOpen">
      <li *ngFor="let fecha of fechas">
        <div class="timeline-image text-black" (click)="setData(fecha.preps)">{{ fecha.fecha }}</div>
      </li>
    </ul>
  </div>

  <div *ngIf="dataFecha.length != 0" class="overlay text-black pl-6" (click)="closeCard()">
    <div class="expanded-card" (click)="$event.stopPropagation()">
      <div class="container-prep" *ngFor="let data of dataFecha">

        <img class="item1 imagenes" [src]="data.logo">

        <div class="btns item2 align-content-center">
          <a *ngIf="data.reconocimiento"
             class="p-1 m-1 borders cursor-pointer"
             [href]="data.reconocimiento"
             target="_blank"
             rel="noopener noreferrer">
            RECONOCIMIENTO
          </a>
          <a *ngIf="data.sitio_web"
             class="p-1 m-1 borders cursor-pointer"
             [href]="data.sitio_web"
             target="_blank"
             rel="noopener noreferrer">
            SITIO DE PUBLICACIÓN
          </a>
        </div>

        <span class="item3"> <b>{{ data.titulo }}</b></span>
        <span class="item3 align-self-center"><br>{{ data.texto }}</span>
      </div>
    </div>
  </div>

</section>
