<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase texts text-start">Casos de éxito</h2>
      <hr style="color: black">
      <h3 class="section-subheading text-muted"></h3>
    </div>

    <div class="years-container">
      <div *ngFor="let fecha of fechas" class="year-item" (click)="setData(fecha.preps)">
        {{ fecha.fecha }}
      </div>
    </div>

    <div class="cards-container" *ngIf="dataFecha.length != 0">
      <div class="card" *ngFor="let data of dataFecha">
        <img class="card-image" [src]="data.logo" alt="Logo">
        <div class="card-content">
          <h4 class="card-title">{{ data.titulo }}</h4>
          <p class="card-text">{{ data.texto }}</p>
          <div class="card-buttons">
            <a *ngIf="data.reconocimiento" class="card-button" [href]="data.reconocimiento" target="_blank" rel="noopener noreferrer">
              RECONOCIMIENTO
            </a>
            <a *ngIf="data.sitio_web" class="card-button" [href]="data.sitio_web" target="_blank" rel="noopener noreferrer">
              SITIO DE PUBLICACIÓN
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
