<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <header class=" position-relative">
    <div class="voting-container d-flex flex-column align-items-center justify-content-center position-relative">
      <div class="urna-container mb-4">
        <img class="logo-ine" src="../../../assets/images/urna.png" alt="URNA">
        <div class="ballot falling-ballot"></div>
        <div class="ballot falling-ballot delay1"></div>
        <div class="ballot falling-ballot delay2"></div>
      </div>

      <div class="text-center mt-5" style="z-index: 1;">
        <h1 class="display-3 fw-bolder mb-5">
          <span class="text-gradient d-inline">Para contar, cuenta con nosotros</span>
        </h1>
        <a class="btn conoce text-white btn-lg px-5 py-3 fs-6" routerLink="/home/nosotros">Conoce más</a>
      </div>
    </div>
  </header>
</main>
</body>
