<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase texts text-start">Soluciones</h2>
      <hr style="color: black">
      <h3 class="section-subheading text-muted"></h3>
    </div>

    <div class="text-justify">
      <p class="lead fw-light mb-4 text-black">Desde hace más de una década Informática Electoral ha desarrollado
        procesos electorales de éxito en México. Gracias a la experiencia de sus profesionales, Informática Electoral le
        ayuda con soluciones y servicios en tecnología de información innovadores y flexibles que garantizan la
        confiabilidad, rapidez y transparencia en todas las etapas del proceso electoral.</p>


    </div>

    <div class="text-black pt-3">
      <ul class="nav nav-tabs  folder-tabs" id="folderTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="folder1-tab" data-bs-toggle="tab" href="#folder1" role="tab"
             aria-controls="folder1" aria-selected="true" data-title=" PRE"></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="folder2-tab" data-bs-toggle="tab" href="#folder2" role="tab" aria-controls="folder2"
             aria-selected="false" data-title="JOR"></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="folder3-tab" data-bs-toggle="tab" href="#folder3" role="tab" aria-controls="folder3"
             aria-selected="false" data-title="POST "></a>
        </li>
      </ul>


      <div class="card-body">
        <div class="tab-content text-justify" id="folderContent">
          <div class="tab-pane fade show active" id="folder1" role="tabpanel" aria-labelledby="folder1-tab">
            <h4>PRE ELECTORAL</h4>
            <span class="mt-2"> Consolidamos la información estatal en cada una de las etapas del proceso electoral, ofreciendo la
              oportunidad de evaluar con prontitud y exactitud el desarrollo del proceso y poder tomar medidas o
              acciones pertinentes dependiendo del nivel de los indicadores.</span> <br> <br>

            <span class="pt-2"> Aseguramos, con herramientas de registro y seguimiento, la capacitación de los funcionarios de casilla,
              eliminando la incertidumbre y desconfianza en el Órgano Electoral por parte de la ciudadanía en cuanto a
              la preparación los funcionarios de casilla. </span> <br><br>

            <span class="pt-2"> Integramos y centralizamos la información generada por los consejos distritales y/o municipales, lo que
              permite conocer de manera inmediata (en-línea) el avance y desempeño de cada consejo distrital o
              municipal, tomando en cuenta la alta disponibilidad y seguridad de la información. </span><br><br>

            <span class="pt-2">  Garantizamos la asignación y correcta administración de material Electoral.</span>
          </div>

          <div class="tab-pane fade" id="folder2" role="tabpanel" aria-labelledby="folder2-tab">
            <h4>JORNADA ELECTORAL</h4>
            <span class="mt-2">Damos transparencia y agilidad al funcionamiento de cada casilla, asegurando la operación efectiva de los
              funcionarios, y el monitoreo continuo de los eventos de la jornada, registrando, con disponibilidad
              garantizada para su acceso en cualquier momento, las incidencias y eventos.</span> <br> <br>

            <span class="mt-2">Aseguramos la integración y publicación del PREP en menos de 1 hora.Incentivamos el aumento de la
              participación ciudadana el día de la jornada electoral. </span> <br> <br>

            <span class="mt-2"> Realizamos toda la logística de operación del Cómputo Preliminar. </span> <br> <br>

            <span class="mt-2">  Aseguramos la distribución de los Grupos de trabajo y puntos de recuento en los consejos municipales/
              distritales. </span> <br> <br>

            <span class="mt-2">  Realizamos todo el proceso de logística y resguardo de paquetes electorales.</span>
          </div>

          <div class="tab-pane fade" id="folder3" role="tabpanel" aria-labelledby="folder3-tab">
            <h4>POST ELECTORAL</h4>
            <span class="mt-2">
              Le garantizamos el acceso rápido y confiable a cualquier información relacionada con elecciones pasadas.  </span>
            <br> <br>

            <span class="mt-2">  Garantizamos alta seguridad y rapidez en el procesamiento de la información.  </span>
            <br> <br>

            <span class="mt-2"> Aseguramos el cómputo final hasta la emisión de constancia de mayoría.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
