@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.portfolio-item {
  opacity: 0;
  animation: fadeInScale 1s ease-out forwards;
}

.portfolio-item:nth-child(1) {
  animation-delay: 0.2s;
}
.portfolio-item:nth-child(2) {
  animation-delay: 0.4s;
}
.portfolio-item:nth-child(3) {
  animation-delay: 0.6s;
}
.portfolio-item:nth-child(4) {
  animation-delay: 0.8s;
}
.portfolio-item:nth-child(5) {
  animation-delay: 1s;
}
.portfolio-item:nth-child(6) {
  animation-delay: 1.2s;
}

.portfolio-item img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.portfolio-hover {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

.portfolio-hover-content {
  transition: transform 0.3s ease-in-out;
}

.portfolio-link:hover .portfolio-hover-content {
  transform: scale(1.1);
}
.nav-tabs {
  position: relative;
  padding: 0;
}

.nav-tabs .nav-item {
  position: relative;
  margin-right: -15px;
}

.nav-tabs .nav-link {
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 10px 0;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
}

.nav-tabs .nav-link:before {
  content: attr(data-title);
  display: block;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  color: transparent;
}

.nav-tabs .nav-link.active {
  background-color: #343a40;
  color: white;
  transform: translateY(-15px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav-tabs .nav-link.active:before {
  opacity: 1;
  color: white;
}

.nav-tabs .nav-link:hover {
  background-color: #6c757d;
  color: white;
  transform: translateY(-10px);
  border-color: #343a40;
}

.nav-tabs .nav-link:not(.active) {
  z-index: 0;
  transform: translateY(5px);
  opacity: 0.8;
}

.tab-content {
  padding: 20px;
  border: 1px solid #343a40;
  border-radius: 8px;
  background-color: white;
  transition: opacity 0.3s ease;
}
